@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap");

::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-button {
  display: none;
}
::selection {
  background-color: rgba(248, 203, 219, 0.4);
}
#root {
  margin: 0;
  padding: 0;
}
:root {
  font-family: "Noto Sans", sans-serif;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  background-image: linear-gradient(45deg, #00242d, #23003f);
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
nav {
  border-radius: 20px 20px 0 0;
  backdrop-filter: blur(52px) !important;
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 16px rgb(0, 0, 0);
  z-index: 999 !important;
}
nav a {
  transition: all ease-in 0.1s;
  border: 1px solid transparent;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

nav a:hover,
.active {
  transition: all ease-in 0.1s;
  /* border: 1px solid rgb(255, 253, 243); */
  border-right: 1px solid rgba(54, 28, 0, 0.3);
  border-left: 1px solid rgba(54, 28, 0, 0.3);
  /* transform: translateY(-14%); */
  background-color: rgba(60, 0, 38, 0.629);
  /* border-radius: 10px; */
  color: lavender;
}
.active {
  box-shadow: 0 5px 10px rgba(185, 185, 245, 0.8);
}
.adminroute .active svg {
  transition: all ease-in-out 0.2s;
  margin-left: 20px;
}
.adminroute .active {
  transition: all ease-in-out 0.2s;
  outline: 2px solid rgb(177, 177, 177);
  background-color: rgba(28, 0, 88, 0.7);
  border-radius: 10px;
}
nav a:hover p,
.active p {
  color: white !important;
}
.active svg {
  color: rgb(255, 213, 195);
  transform: scale(1.15);
}
h2 {
  color: black;
}
p {
  color: gray;
}
img {
  shape-rendering: crispEdges;
  image-rendering: crisp-edges;
  image-resolution: 1000px;
}
.home{
  pointer-events: none !important;
  user-select: none !important;
}
.home .homeIco {
  z-index: -1;
  transition: all ease-in 0.2s;
}
.home .homeIcoText {
  transition: all ease-in 0.4s;
  transform: scale(0);
  backdrop-filter: blur(22px);
  padding: 2px;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.logodiv:hover .homeIcoText {
  transform: scale(1);
}
.homeliitem {
  color: white;
}
.homeliitem p {
  color: gainsboro;
}
.homeliitem:hover {
  color: rgb(4, 4, 4);
}
.homeliitem svg {
  transform: scale(1.3);
  margin: 10px;
}
hr {
  margin-bottom: 5px !important;
}
.homeliitem .info {
  margin-left: 10px;
}
.homeliitem:hover p {
  color: rgb(59, 59, 59);
}
.logodiv:hover .homeIco {
  transition: all ease-in 0.2s;
  transform: scale(1.12) translateY(-4%);
  filter: saturate(1.1) brightness(1.1);
}
.logo{
  filter: brightness(1) saturate(1) !important;
}
.brain {
  mix-blend-mode: hard-light;
}
.hcont {
  backdrop-filter: blur(10px);
}
.welcometxt {
  color: white;
  font-size: 2.2rem;
  font-weight: 900;
  text-align: center;
}
.slick-prev:before,
.slick-next:before {
  color: rgb(255, 255, 255);
  font-size: 22px;
}
.caraousel img {
  aspect-ratio: 16/9;
  object-fit: cover;
}
.glow-border {
  box-shadow: 0 0 10px 2px lavenderblush;
  animation: changeColors 3s linear infinite alternate;
}

.fcard {
  background-image: linear-gradient(
    to right bottom,
    rgb(15, 23, 42),
    rgb(60, 5, 103),
    rgb(15, 23, 42)
  );
  border: 1px solid rgba(245, 245, 245, 0.4);
  box-shadow: 0 10px 20px rgba(17, 0, 0, 0.6) !important;
}
.fcard svg {
  filter: drop-shadow(0 10px 20px rgba(17, 0, 0, 0.8));
}
@keyframes changeColors {
  0% {
    box-shadow: 0 0 10px 2px rgb(243, 197, 212);
  }
  25% {
    box-shadow: 0 0 10px 2px rgb(227, 178, 253);
  }
  50% {
    box-shadow: 0 0 10px 2px rgb(147, 184, 247) rblush;
  }
  75% {
    box-shadow: 0 0 10px 2px #f4a672;
  }
  100% {
    box-shadow: 0 0 10px 2px #a0f88d;
  }
}
.loginForm {
  margin-top: 100px !important;
}
.login {
  border-radius: 12px;
}
.activity img {
  filter: brightness(0.6) saturate(0.6);
}
.act-name {
  text-shadow: 0 10px 30px rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 12px;
}
.pricetag p {
  color: rgb(255, 71, 71) !important;
  font-weight: 600;
  /* text-shadow: 0 0 4px black; */
  background-color: rgba(0, 114, 159, 0.4);
  border-radius: 10px;
  display: block;
  width: fit-content !important;
  padding: 5px 25px;
}
.pricetag p::before {
  content: "Amount: ";
}
.venue p {
  color: rgb(185, 221, 255) !important;
  font-weight: 600;
  /* text-shadow: 0 0 4px black; */
  background-color: rgba(0, 159, 29, 0.4);
  border-radius: 10px;
  display: block;
  width: fit-content !important;
  padding: 5px 25px;
}
.venue p::before {
  content: "Venue: ";
}
.empty img {
  mix-blend-mode: multiply;
}

/* AddActivityForm.css */
.neumorphic-container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.5),
    -20px -20px 60px rgba(255, 255, 255, 0.2) !important;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.box-sha-card {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.45) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.5) 0px 30px 60px -30px;
}
.abtrole {
  background-color: rgba(255, 166, 0, 0.2);
  padding: 5px;
  border-radius: 12px;
  font-weight: 500;
  letter-spacing: 1px;
}
.neumorphic-button {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background 0.3s ease, transform 0.3s ease;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
    transform: scale(1.05);
  }
}
.aboutCards {
  background-image: linear-gradient(
    45deg,
    rgba(206, 206, 249, 0.4),
    rgba(244, 193, 244, 0.4),
    rgba(249, 176, 200, 0.4)
  );
}
.aboutContainer {
  margin-top: 40px;
}
.aboutCards {
  box-shadow: 10px 10px 30px rgba(152, 152, 244, 0.8),
    -10px -10px 20px rgba(27, 0, 27, 0.2) !important;
  border: 1px solid rgb(99, 99, 99);
}
.about-img-cont {
  max-width: 100px;
  padding: 4px;
}
.about-img-cont img {
  transition: all ease-in-out 0.2s;
}
.aboutCards:hover img {
  transform: scale(1.2);
}
.admin-heading {
  font-weight: 900;
  font-size: 2rem;
}
.mainContent {
  z-index: 2 !important;
  min-height: 100vh;
}
.loader {
  position: relative;
  width: 200px;
  height: 200px;
}

.loader:before,
.loader:after {
  content: "";
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 20px 6px rgba(0, 0, 0, 0.5) inset;
}
.loader:after {
  box-shadow: 0 7px 0 rgb(100, 80, 255) inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingOnAction {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999 !important;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.loadingOnAction p {
  margin-top: 10px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.842);
  padding: 4px 25px;
  border: 1px solid rgb(144, 36, 252);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  border-radius: 12px;
}

.slide-fwd-center {
  -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}
@keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}
.mainHome {
  overflow-y: hidden !important;
}
@media screen and (max-width: 768px) {
  .welcometxt {
    font-size: 1.5rem;
  }
}
.sico {
  transform: scale(2);
}

.anima {
  display: block;
  font-size: 52px;
  color: transparent;
  z-index: -999 !important;
}

.anima::before,
.anima::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
  z-index: -999 !important;
}

.anima::before {
  text-shadow: 1.5046058259em 0.3659502454em 7px rgba(0, 160, 255, 0.9),
    0.0402608775em 1.3169560063em 7px rgba(0, 60, 255, 0.9),
    1.1707697059em -0.3844814936em 7px rgba(0, 255, 175, 0.9),
    0.8929058504em -0.0747439411em 7px rgba(140, 0, 255, 0.9),
    1.0994217743em 1.2972763151em 7px rgba(63, 255, 0, 0.9),
    1.0464166329em 1.3223079408em 7px rgba(255, 0, 247, 0.9),
    1.8430921588em 0.8300249727em 7px rgba(0, 255, 204, 0.9),
    2.4211934801em 0.7710140534em 7px rgba(229, 0, 255, 0.9),
    1.3254807537em 0.6007310475em 7px rgba(189, 255, 0, 0.9),
    1.7598403669em 0.3178497639em 7px rgba(255, 0, 18, 0.9),
    0.9482568838em 0.8654367756em 7px rgba(0, 255, 99, 0.9),
    0.7858121947em 2.4735201456em 7px rgba(255, 198, 0, 0.9),
    2.1510139387em 1.8798532598em 7px rgba(0, 255, 183, 0.9),
    1.0404849896em 1.8155682798em 7px rgba(0, 255, 59, 0.9),
    -0.3878144354em -0.2811130527em 7px rgba(0, 255, 54, 0.9),
    -0.1540235337em 1.7902969726em 7px rgba(47, 255, 0, 0.9),
    -0.1311306113em 2.1682028743em 7px rgba(0, 255, 54, 0.9),
    -0.2373557077em 1.5359189143em 7px rgba(0, 186, 255, 0.9),
    1.4024041356em 0.5626169864em 7px rgba(0, 255, 174, 0.9),
    1.4071076658em 0.855773558em 7px rgba(30, 255, 0, 0.9),
    2.4727233177em 1.9127580078em 7px rgba(255, 0, 228, 0.9),
    -0.3753827382em -0.1759019667em 7px rgba(0, 255, 201, 0.9),
    2.4388962717em 0.8945341043em 7px rgba(255, 171, 0, 0.9),
    -0.1100567726em 0.3309925132em 7px rgba(255, 0, 85, 0.9),
    1.3300494557em 2.2856469755em 7px rgba(0, 105, 255, 0.9),
    2.0182400824em 1.9019011897em 7px rgba(88, 255, 0, 0.9),
    -0.4754225494em 0.0638119418em 7px rgba(0, 255, 236, 0.9),
    -0.1095260042em -0.2005555868em 7px rgba(0, 255, 230, 0.9),
    1.9865482013em 1.4637625329em 7px rgba(90, 0, 255, 0.9),
    1.5410457931em 1.4966148402em 7px rgba(215, 255, 0, 0.9),
    1.4385763086em -0.1288882928em 7px rgba(0, 255, 46, 0.9),
    0.9250541555em 1.5275377749em 7px rgba(255, 215, 0, 0.9),
    2.1861234031em 1.251612781em 7px rgba(136, 0, 255, 0.9),
    -0.143260375em 1.8462984887em 7px rgba(255, 216, 0, 0.9),
    -0.482550647em 0.0967489812em 7px rgba(27, 0, 255, 0.9),
    -0.3574089158em 1.2198364238em 7px rgba(0, 255, 82, 0.9),
    2.3346679214em 1.4377677026em 7px rgba(0, 255, 37, 0.9),
    1.6631158381em 2.3806857189em 7px rgba(0, 255, 98, 0.9),
    0.1061327646em 0.9874991751em 7px rgba(0, 88, 255, 0.9),
    0.0255655547em 2.2396727853em 7px rgba(0, 255, 116, 0.9),
    2.1122507005em 0.4945491146em 7px rgba(0, 255, 50, 0.9);
  animation-duration: 44s;
  animation-delay: -27s;
  z-index: -999 !important;
}

.anima::after {
  text-shadow: 2.1642617825em 2.4539079247em 7px rgba(255, 133, 0, 0.9),
    1.7704388516em 1.2420122372em 7px rgba(255, 28, 0, 0.9),
    2.2120528698em 0.8077466063em 7px rgba(255, 179, 0, 0.9),
    -0.0936448638em -0.4383055352em 7px rgba(255, 0, 162, 0.9),
    -0.3100184404em 1.8329693802em 7px rgba(255, 0, 155, 0.9),
    -0.1551121821em 0.795526118em 7px rgba(255, 164, 0, 0.9),
    1.9419473337em 0.3199561435em 7px rgba(0, 255, 252, 0.9),
    0.3885047827em 0.8210556266em 7px rgba(0, 131, 255, 0.9),
    0.5339603669em 2.0314760495em 7px rgba(125, 255, 0, 0.9),
    -0.3171865009em 0.0709455599em 7px rgba(166, 0, 255, 0.9),
    0.5613678716em -0.1631776687em 7px rgba(8, 255, 0, 0.9),
    0.7504687839em 1.4284995616em 7px rgba(0, 255, 139, 0.9),
    0.0359071125em 2.4573653006em 7px rgba(182, 255, 0, 0.9),
    2.4775399706em 1.2941894484em 7px rgba(0, 255, 220, 0.9),
    -0.2982642846em 0.6210690281em 7px rgba(255, 0, 192, 0.9),
    0.8669245088em -0.0918215975em 7px rgba(255, 193, 0, 0.9),
    0.7964505278em 0.1196884436em 7px rgba(255, 0, 235, 0.9),
    1.813479362em 0.2761107078em 7px rgba(0, 33, 255, 0.9),
    -0.2708871524em 2.2360557465em 7px rgba(255, 231, 0, 0.9),
    -0.0185538882em 2.4273260698em 7px rgba(45, 0, 255, 0.9),
    1.8537222788em 1.3114162242em 7px rgba(0, 235, 255, 0.9),
    0.4868219988em 0.0618108407em 7px rgba(255, 0, 82, 0.9),
    -0.2449538292em -0.3943206315em 7px rgba(0, 133, 255, 0.9),
    0.4652346882em 1.8611679292em 7px rgba(255, 0, 189, 0.9),
    0.9302018851em 0.8909281226em 7px rgba(142, 0, 255, 0.9),
    0.1219193364em 0.0791778948em 7px rgba(81, 255, 0, 0.9),
    1.4543765119em 0.0878897279em 7px rgba(0, 80, 255, 0.9),
    -0.4929741553em 2.2477730995em 7px rgba(63, 0, 255, 0.9),
    2.0572672561em 0.5385088504em 7px rgba(255, 0, 21, 0.9),
    1.6872517293em 0.6292086186em 7px rgba(255, 166, 0, 0.9),
    -0.3847324444em 2.2552094362em 7px rgba(232, 255, 0, 0.9),
    0.5525587602em 1.0693726348em 7px rgba(28, 255, 0, 0.9),
    2.3796496852em 1.3021194593em 7px rgba(148, 0, 255, 0.9),
    0.9037609735em 1.3852610872em 7px rgba(255, 0, 193, 0.9),
    0.0951150547em 1.9921191546em 7px rgba(180, 0, 255, 0.9),
    0.1443188785em 1.280271678em 7px rgba(255, 142, 0, 0.9),
    -0.0410705855em 0.8593121511em 7px rgba(0, 255, 220, 0.9),
    2.1582153743em -0.1358241328em 7px rgba(0, 255, 133, 0.9),
    1.8168333859em 0.5714813322em 7px rgba(0, 255, 27, 0.9),
    2.4258332922em 2.396816614em 7px rgba(0, 255, 99, 0.9),
    0.8403337757em 2.2921659859em 7px rgba(134, 0, 255, 0.9);
  animation-duration: 43s;
  animation-delay: -32s;
  z-index: -999 !important;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}
footer{
  z-index: -1 !important;
}
.actadd input, textarea{
  color: whitesmoke;
  background-color: #ffede12b;
}